[submodule "docker"]
        path = docker
	url = git@github.com:kckoh/wcd-docker.git

[submodule "kckoh/linux"]
        path = linux
        url = git@github.com:kckoh/linux.git

[submodule "python-cloud"]
	path = python-cloud
	url = git@github.com:kckoh/python-cloud.git
